@font-face {
    font-family: Oswald;
    src: url("Oswald-Regular.ttf")
  }

#aboutMeDiv {
    margin: auto;
    border-radius: 2%;
    width: 60vw;
    height: 40vw;
   
}

#aboutMeContent {
    position: relative;
    bottom: 5vw;
    border-radius: 1%;
    width: 60vw;
    height: 55vw;
    font-family: Oswald;
}

#quote {
    color: #03ff8e;
    font-style: italic;
    position: relative;
    left: 17.7vw;
    top: 23vw;
    font-size: 2vw;
}

#nameOfQuote {
    color: #fffafa5b;
    font-style: italic;
    font-size: 1vw;
    text-align: right;
    position: relative;
    left: 7vw;
    top: 21.5vw;
    border-bottom: .1vw solid #c803ff;
    width: 40vw;
    padding-right: 5vw;
    padding-bottom: .9vw;
}

#aboutMyContent {
    color: #fffafa;
    font-size: 1.5vw;
    text-align: left;
    width: 40vw;
    margin: auto;
    position: relative;
    top: 22vw;
    
}

#profilePhoto {
    width: 19vw;
    position: absolute;
    left: 38vw;
    top: .8vw;
  }

  #componentTitle {
      color: #c803ff85;
      font-family: Oswald;
      font-size: 4vw;
      position: relative;
      left: 60vw;
  }