@font-face {
    font-family: Oswald;
    src: url("Oswald-Regular.ttf")
  }

#aboutMeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-basis: 100%;
    min-height: 100vh;
}

#aboutMeDiv > * {
    flex-basis: 100%;
}

#aboutMeContent {
    font-family: Oswald;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-content: center; */
    align-items: center;
}

#quote {
    color: #03ff8e;
    font-style: italic;
    font-size: 30px;
}

#nameOfQuote {
    color: #fffafa5b;
    font-style: italic;
    font-size: 20px;
}

#aboutMyContent {
    color: #fffafa;
    font-size: 22px;
    display: flex;
    max-width: 70vw;
    
}

#profilePhoto {
    width: 25%;
    height: 25%;
  }

  @media all and (max-width: 600px) {
      #profilePhoto {
          width: 40%;
          height: 40%;
      }
  }


