@font-face {
  font-family: Gobold;
  src: url("Gobold-High-Bold.otf");
  
}
@font-face {
  font-family: Oswald;
  src: url("Oswald-Regular.ttf")
}

.App {
  text-align: center;
}

body {
  background-color: rgb(22, 22, 22);
  overflow: hidden;
  height: 80vw;
}

#name {
  color: #fffafa;
  font-size: 5vw;
  position: absolute;
  right: 36vw;
  top: -2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -0.08em;
  word-spacing: 1.5vw;
}

#mainNavIcons {
  margin-left: 0.6vw;
}

svg {
  position: relative;
  padding-bottom: 1.5vw;
  top: 14vw;
  fill: #6a6a6aa5;
}

.navlinks:hover {
  fill: #03ff8e;
}

#navSocialLinks {
  width: 3vw;
  z-index: 9999;
}

.navSocialLinks {
  position: absolute;
  left: 85vw;
  bottom: vw;
  width: 10vw;
}

#navBar {
  height: 100%;
  width: 4vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(19, 19, 19);
  overflow: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#homeDiv {
  width: 75vw;
  height: 20vw;
  margin: auto;
  /* background-color: #03ff8e; */
}

#myTitle {
  font-size: 2vw;
  position: relative;
  left: 2vw;
  top: 1vw;
}


#homeSubtitle {
  color: #fffafa;
  font-family: Oswald;
  position: relative;
  left: 47vw;
  bottom: 10vw;
  z-index: 1;
}

#myTitle {
  color: #03ff8e;
  font-family: Gobold;
  text-align: center;
  text-shadow: .2vw .2vw .1vw #c803ffd7;
  z-index: 1;
}

#contactForm {
  display: inline;
}

#backgroundpic {
  position: relative;
  bottom: 48vw;
  width: 100vw;
  opacity: 0.04;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#contactButton {
  position: relative;
  left: 63vw;
  bottom: 67.5vw;
  z-index: 1;
  color: #c803ff;
  border: .1vw solid #fffafa;
  width: 10vw;
  height: auto;
  text-align: center;
  font-size: 1.5vw;
  font-family: Oswald;
  border-color: #c803ff;
}

#contactButton:hover {
  border-color: #c803ff;
  background-color: #c803ff;
  color: rgb(22, 22, 22);
}

#resumeDL {
  position: relative;
  left: 63vw;
  bottom: 67.5vw;
  z-index: 1;
  color: #c803ff;
  border: .1vw solid #fffafa;
  width: 10vw;
  height: auto;
  text-align: center;
  font-size: 1.5vw;
  font-family: Oswald;
  border-color: #c803ff;
}

#resumeDL:hover {
  border-color: #c803ff;
  background-color: #c803ff;
  color: rgb(22, 22, 22);
}

#socialIcons {
  position: relative;
  top: 20vw;
  left: .3vw;
}

#initialsNav {
  font-family: GoBold;
  font-size: 4vw;
  background-color: rgba(12, 12, 12, 0.639);
  color: #03ff8e;
  text-align: center;
  text-shadow: .2vw .2vw .1vw #c803ffd7;
  position: absolute;
  top: -2.5vw;
  left: .6vw;
}

