@font-face {
  font-family: Oswald;
  src: url("Oswald-Regular.ttf");
}

.skillsFlexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillsFlexContainer > * {
  flex-basis: 50%;
}

.skillsAbout {
  max-width: 35%;
  
}

.skills {
  max-width: 35%;
}

.skillsPageTitle {
  color: #03ff8e;
  font-family: Oswald;
  font-size: 60px;
}

.skillPs {
  font-size: 30px;
  font-family: Oswald;
  color: #fffafa;
  padding-left: 5%;
  padding-right: 5%;
  border-left: 0.1em solid #c803ff;
  border-right: 0.1em solid #c803ff;
}

li {
  color: #fffafa;
  list-style-type: none;
  margin-bottom: 0.5vw;
  display: inline-block;
  padding: 4%;
  font-family: Oswald;
  font-size: 30px;
  border: 0.1vw solid #fffafa;
  text-align: center;
  margin: 0.2vw;
}

@media all and (max-width: 950px) {
  .skillsFlexContainer {
    flex-direction: column;
  }

  .skillsAbout {
    max-width: 90%;
  }

  .skills {
      max-width: 85%;
  }

  .skillPs {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    border-top: 0.1em solid #c803ff;
    border-bottom: 0.1em solid #c803ff;
  }

}
